# FastAPI
APP_DEBUG=True
APP_HOST=0.0.0.0
APP_PORT=8000

# ModelScope chat proxy
APP_MODELSCOPE_API_BASE=https://dashscope.aliyuncs.com/compatible-mode/v1
APP_MODELSCOPE_API_KEY=sk-b68e58735fe741a1a5d026b736f285db
APP_MODEL_DEEPSEEK_R1=deepseek-ai/DeepSeek-R1-0528
APP_MODEL_DEEPSEEK_V3_2=deepseek-ai/DeepSeek-V3.2
APP_MODEL_DEFAULT=deepseek-v3.2

# RagFlow
APP_RAG_PROVIDER=fastgpt  #fastgpt/ragflow
APP_RAGFLOW_API_BASE=http://117.72.149.125:8090/api
APP_RAGFLOW_API_KEY=ragflow-9FoG_YwPs3-rIR6PaDYcc_gd8OiZHtfjjHae2hDsIdg
APP_RAGFLOW_TOP_K_DEFAULT=4
# Optional: set if your RAGFlow deployment requires a fixed knowledge base id
APP_RAGFLOW_KB_ID=e1653fb8e2d211f090f54afbf4db3396
APP_RAGFLOW_DATASET_IDS=
APP_RAGFLOW_RERANK_ID=

# FastGPT (when APP_RAG_PROVIDER=fastgpt)
APP_FASTGPT_API_BASE=http://106.52.245.55:3000
APP_FASTGPT_API_KEY=fastgpt-fZbG9f7bofUev0lyLT8h9xv948N3WXf14Z25TlSspE9j0d1ZwwvQ4jY44TZ
APP_FASTGPT_DATASET_ID=691f2043a97a33d763ffd85e
APP_FASTGPT_TOP_K_DEFAULT=4

# school backend (used by LangGraph tools)
APP_SCHOOL_API_BASE=https://ai.sztszs.top/jeecg-boot
APP_SCHOOL_API_TIMEOUT=30

# Redis
APP_REDIS_URL=redis://:Aaa635764803@117.72.149.125:6379/0
APP_REDIS_TTL_MINUTES=30

# Langfuse
LANGFUSE_SECRET_KEY = "sk-lf-78e8fedc-47f7-46eb-a1e9-cd8ab5af2087"
LANGFUSE_PUBLIC_KEY = "pk-lf-12b21cdb-edce-4fc4-9458-0eb439b4ebf6"
LANGFUSE_BASE_URL = "https://lf.sztszs.top"
APP_LANGFUSE_ENABLED=True
